extends ../main.layout.pug

block variables
  - var title = 'Блог';

block scripts
  script(src="blog.bundle.js")

block content
  .header__menu
    span.menu-icon
  .modal-menu
    ul.menu-list
      - var links = ['works.html', 'blog.html', 'about.html', 'index.html'];
      each item, index in ['Мои работы', 'Блог', 'Обо мне', 'Авторизация']
        li.menu-list__item
          a.menu-list__link(href= links[index]) #{item}
  section.page-header.section
    header.header
      .header__socials
        +socials('header', ['https://vk.com/maxuteev', 'https://github.com/Maksim-Uteev', 'https://vk.com/maxuteev'])
    .hero-container
      span.section-title Portfolio
      .user
        +image('content/user.jpg', 'user image', 'user__avatar')
        .user__info
          .user__title.title-block
            +icon('blog_header', 'title-icon title-icon--header')
            h2.user__title-text.title Блог
          .user__desc Статьи, которые я написал
    .down-btn
      +icon('arrow_down', 'down-arrow')

  section.blog
    .blog__navigation
      nav.articles
        ul.articles__list
          each item in [['Самое важное в SASS', true], ['Приёмы в вёрстке, без которых не обходится ни один сайт', false], ['Самый необходимый набор Gulp плагинов', false], ['Почему я выбрал Pug', false]]
            li.articles__item
              if item[1]
                a.articles__link.articles__link--active(href="#") #{item[0]}
              else
                a.articles__link(href="#") #{item[0]}
    .blog__content
      article.article
        .article__title
          h3.subtitle Самое важное в SASS
        .article__date
          time.publication-date(datetime='2016-11-22') 22 ноября 2016
        .article__content
          p.article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

      article.article
        .article__title
          h3.subtitle Приёмы в вёрстке, без которых не обходится ни один сайт
        .article__date
          time.publication-date(datetime='2016-11-13') 13 ноября 2016
        .article__content
          p.article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
