footer.footer
  .footer__row.footer__row_bg_grey
    .footer__col
      p.footer__col-text Этот сайт я сделал в рамках обучения в Школе онлайн образование LoftSchool.
    .footer__col
      .footer__col-links
        .links
          nav.links__navigation
            ul.navigation-list
              - var links = ['works.html', 'blog.html', 'about.html', 'index.html'];
              each item, index in ['Мои работы', 'Блог', 'Обо мне', 'Авторизация']
                li.navigation-list__item
                  a.navigation-list__link(href= links[index]) #{item}
          .links__socials
            +socials('footer', ['https://vk.com/maxuteev', 'https://github.com/Maksim-Uteev', 'https://vk.com/maxuteev'])
    .footer__col
      .quote
        p.quote__text
          != 'Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.<span class="quote__author"><br>— Martin Golding</span>'

  .footer__row
    .copyright
        p.copyright__text &copy; Утеев Максим | создано с любовью в Loftschool | 2018