.header__menu
  span.menu-icon
.modal-menu
  ul.menu-list
    - var links = ['works.html', 'blog.html', 'about.html', 'index.html'];
    each item, index in ['Мои работы', 'Блог', 'Обо мне', 'Авторизация']
      li.menu-list__item
        a.menu-list__link(href= links[index]) #{item}
section.page-header.section
  header.header
    .header__socials
      +socials('header', ['https://vk.com/maxuteev', 'https://github.com/Maksim-Uteev', 'https://vk.com/maxuteev'])
  .hero-container
    span.section-title Portfolio
    include hero.pug
  .down-btn
    +icon('arrow_down', 'down-arrow')