.menu-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(18, 38, 32, 0.6);
  transition: all 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
}

.menu-preview--active {
  transform: rotateY(0deg);
}

.menu__user-image {
  border-radius: 50%;
  width: 141px;
  height: 141px;
  margin-bottom: 20px;
}

.menu__name {
  color: $white;
  font-size: 28px;
  @include roboto('medium');
}

.menu__text {
  color: $white;
}

.menu__socials {
  width: 140px;
  margin: 30px 0 40px 0;
}

.menu__nav {
  width: 100%;
}

.menu__navigation {
  display: flex;
  justify-content: space-between;
}

.menu__navigation__list {
  flex-grow: 1;

  & + & {
    border-left: 2px solid #a0b99e;
  }
}

.menu__navigation__link {
  display: block;
  color: $white;
  background-color: $dim-green;
  padding: 11px 30px;
  text-decoration: none;
  text-align: center;
  transition: all 0.25s;
  width: 100%;
  position: relative;

  &:hover {
    background-color: $dark-green;
  }
  &:hover::before {
    transform: scaleX(1);
  }
}

.menu__navigation__link::before {
  content: '';
  transform: scaleX(0);
  transition: all 0.25s;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: $white;
  top: calc(100% - 8px);
  left: calc(50% - 13px);
}

.menu__navigation__list:first-child .menu__navigation__link {
  border-bottom-left-radius: 5px;
}

.menu__navigation__list:last-child .menu__navigation__link {
  border-bottom-right-radius: 5px;
}